{% extends "eggplant/core/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load partition_slice %}
{% load cart_tags %}

{% block app_css %}
	<link href="{% static 'css/bootstrap-datepicker3.min.css' %}"
		rel="stylesheet" />
	<link href="{% static 'css/market/basket.css' %}" rel="stylesheet" />
{% endblock%}
{% block app_js %}
	<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'js/locales/bootstrap-datepicker.da.min.js' %}"></script>
	<script src="{% static 'js/locales/bootstrap-datepicker.en-GB.min.js' %}"></script>
	<script type=text/javascript>
var $jq = jQuery.noConflict();
$jq(function() {
    $jq('.datepicker').datepicker({format:'yyyy-mm-dd'});
});
	</script>
{% endblock%}

{% block content_left_col %}
    {{ block.super }}
    {% if basket_items %}
    <h3>{% trans 'Basket' %}</h3>
    <table class="basket">
        <tr>
            <th>
                {% trans 'Amount' %}
            </th>
            <th>
                {% trans 'Product' %}
            </th>
            <th class="price">
                {% trans 'Price' %}
            </th>
            <th></th>
        </tr>
        {% for item in basket_items %}
            <tr>
                <td>
                    {{item.quantity}}
                </td>
                <td>
                    {{item.product.title}}
                </td>
                <td class="price">
                    {{item.product.price}}
                </td>
                <td class="controls">
                    <a href="" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
		<a class="btn btn-primary" href="{% url 'eggplant:market:checkout' %}">
			{% trans 'Go to checkout' %}
		</a>
  	<a class="btn btn-primary" href="{% url 'eggplant:market:cart_details' %}">
			{% trans 'Your basket' %}
		</a>
    {% endif %}

{% endblock %}

{% block content_right_col %}
<h2>Market</h2>

<div>
	Filter products: {{product_filter.form}}
</div>

{% for sublist in product_filter|partition:"3" %}
<div class="row">
	{% for product in sublist %}
	<div class="col-md-3">
        {% include 'eggplant/market/_product.html' %}
	</div>
	{% endfor %}
</div>
{% empty %}
	<div class="row">
		<div class="col-md-4 col-span-5"><p>There are no products to purchase.</p></div>
	</div>
{% endfor %}

{% endblock%}
