{% extends "eggplant/core/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load partition_slice %}
{% load cart_tags %}

{% block app_css %}
	<link href="{% static 'css/bootstrap-datepicker3.min.css' %}"
		rel="stylesheet" />
{% endblock%}
{% block app_js %}
	<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'js/locales/bootstrap-datepicker.da.min.js' %}"></script>
	<script src="{% static 'js/locales/bootstrap-datepicker.en-GB.min.js' %}"></script>
	<script type=text/javascript>
var $jq = jQuery.noConflict();
$jq(function() {
    $jq('.datepicker').datepicker({format:'yyyy-mm-dd'});
});
	</script>
{% endblock%}

{% block content_left_col %}
    {{ block.super }}
    <h2>{basket}</h2>
{% endblock %}

{% block content_right_col %}

<div class="row">
    <div class="col-10">
        <h1 class="page-header">Order groceries:</h1>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <p>Filter products:</p>
    </div>
</div>

<div class="row">
	<div class="col-10">
        {{product_filter.form}}
	</div>
</div>

{% if products %}
<div class="row">
 <div class="col-md-9 text-right">
 	<a class="btn btn-primary" href="{% url 'eggplant:market:cart_details' %}">your basket</a>
 	{% if basket_items %}
 	<a class="btn btn-primary" href="{% url 'eggplant:market:checkout' %}">go to checkout</a>
 	{% endif %}
 </div>
</div>
<br />
{% endif %}

{% for sublist in product_filter|partition:"3" %}
<div class="row">
	{% for product in sublist %}
	<div class="col-md-3">
        {% include 'eggplant/market/_product.html' %}
	</div>
	{% endfor %}
</div>
{% empty %}
	<div class="row">
		<div class="col-md-4 col-span-5"><p>There are no products to purchase.</p></div>
	</div>
{% endfor %}

{% endblock%}
