/*
    css
*/

.form-group {
  text-align: left;
}

body
{
    padding-top: 20px; /* Space because of static navbar at top */
    padding-bottom: 20px;
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0;
}


}

