{% extends "base.html" %}

{% load account %}
{% load sekizai_tags %}

{% block head_title %}Ændr kodeord{% endblock %}

{% block content %}

  <div class="box">

    <h1>{% if token_fail %}Ugyldigt link{% else %}Ændr kodeord{% endif %}</h1>
    {% if token_fail %}
      <p>
        Det angivne link er ikke gyldigt. Dette skyldes højst sandsynligt at linket allerede er blevet brugt.
      </p>
      <p>
        <a href="{% url 'account_reset_password' %}" class="btn btn-primary">Send nyt link</a>
      </p>
    {% else %}
      {% if form %}
        <div class="row">
          <div class="col-md-12">
            <form class="login form-horizontal" method="POST" action="">
              {% csrf_token %}

              <div class="input-group">
                <input type="password" name="password1" class="form-control"
                       placeholder="Kodeord"/>
                {{ form.password1.errors }}
              </div>

              <div class="input-group">
                <input type="password" name="password2" class="form-control"
                       placeholder="Kodeord (igen)"/>
                {{ form.password2.errors }}
              </div>

              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class="btn btn-success pull-right" type="submit">Ændr kodeord</button>
            </form>
          </div>
        </div>
      {% else %}
        <p>Dit kodeord er nu blevet ændret.</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
