{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block head_title %}{% endblock %} | Eggplant</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% bootstrap_css %}
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet"
        href="{% static 'css/eggplant.css' %}">
    {% block app_css %}{% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}">

    {# This is the language chooser #}
    <div class="language-chooser">
        <div class="container">
            <ul class="nav nav-pills pull-right">
                {% for code, lang in LANGUAGE_CHOOSER.items %}
                <li{% if lang.selected %} class="active"{% endif %}><a href="{{ lang.this_page }}">{{ code }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="container">
            {% include '_navbar.html' %}
        </div>
    {% else%}
        {% include '_header.html' %}
    {% endif %}

    <!-- Content -->
    <section class="{% block content_classes %}container{% endblock %}">
    {% block content %}
        <div class="row">
            <div class="col-md-3">{% block content_left_col %}{% endblock %}</div>
            <div class="col-md-9">{% block content_right_col %}{% endblock %}</div>
        </div>
    {% endblock %}
    </section>

    <!-- Messages -->
    <div class="messages">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                {% if messages %}
                {% for message in messages %}
                    <!-- {{ message.level }} -->
                    <div class="alert alert-{{ message.tags }} alert-dismissible"
                        role="alert">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close" >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% bootstrap_javascript jquery=1 %}
    {% block app_js %}{% endblock %}
</body>
</html>
