{% load bootstrap3 %}
{% load staticfiles %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
<head>

<title>{% block head_title %}{% endblock %} | Eggplant</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{# bootstrap_css #}
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="{% static "css/eggplant.css" %}">

{% block app_css %}{% endblock %}

</head>
<body>

	<div class="container">
	
	<div class="col-md-2">
      <img src="{% static 'img/eggplant_logo_mark_120.png' %}" alt="LOGO">
	</div>
	
	<div class="col-md-10">
	<div class="page-header">
	  <h1>{{COOP_NAME}}</h1>
	  <p>{{COOP_DESCRIPTION}}</p>
	</div>
	</div>
	</div>
	{% if user.is_authenticated %}
    <nav class="navbar navbar-default navbar">
        <div class="container">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" 
                data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </div>

            <div class="navbar-collapse collapse navbar-right" id="header-navbar-collapse">
                    <ul class="nav navbar-nav">
                        
                        <li class="dropdown">
                            
                                <a data-toggle="dropdown" class="dropdown-toggle" 
                                href="#" aria-expanded="true">{% if user.is_authenticated %}{% user_display user %}{%else%}Welcome!{%endif%}<strong></strong> <span class="caret"></span></a>
                            
                            <ul class="dropdown-menu">
                                 <li><a href="{% url 'eggplant:dashboard:home' %}">Home</a></li>
                                {% if user.is_authenticated %}
                                	<li><a href="{% url 'eggplant:membership:profile' %}">Profile</a></li>
                                	<li><a href="{% url 'account_logout' %}">Log out</a></li>
                                {% else %}
                                	<li><a href="{% url 'account_login' %}">Log in</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            

        </div>
    </nav>
    {% endif %}

    <!-- Messages -->
    <section id="messages">
	    <div class="container">
		<div class="row">
		<div class="col-md-5 col-md-offset-3">
    {% if messages %}
        {% for message in messages %}
        <!-- {{ message.level }} -->
        <div class="alert alert-{{ message.tags }} alert-dismissible"
            role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    	</div>
    	</div>
    	</div>
   </section>


    <section id="content">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
    </section>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	{% block app_js %}{% endblock %}
</body>
</html>
