{% load staticfiles %}
{% load i18n %}
{% block app_css %}
	<link href="{% static 'css/profiles/sidebar.css' %}"
		rel="stylesheet" />
{% endblock%}

<div class="panel panel-default profile">
    <div class="panel-body">
        <div style="background-image:url('{{ user.profile.photo_url_or_default }}');"
            class="profile-photo">
        </div>
        <h3>{{ user.profile.full_name }}</h3>
        {% for account in user.profile.active_accounts %}
            <p class="account-name">{{account.name_or_profile_names}}</p>
            <p class="department-name">
                {% blocktrans with name=account.department.name%}
                    {{name}} department
                {% endblocktrans %}
            </p>
        {% endfor %}
    </div>
</div>
