{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="POST"
            action="{% url 'account_change_password' %}"
            class="password_change">
            <h3>{% trans "Change password" %}</h3>
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' form_group_class='form-group row' %}
            {% buttons %}
                <button type="submit"
                    name="action"
                    class="btn btn-primary pull-right">
                    {% trans "Change password" %}
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
