{% extends "base.html" %}
{% load bootstrap3 %}

{% load i18n %}

{% block head_title %}{% trans "Set password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="POST"
            action="{% url 'account_set_password' %}"
            class="form-horizontal">
            {% if user.has_usable_password %}
                <h3>{% trans "Set password" %}</h3>
            {% else %}
                <h3>{% trans "Choose a password for your personal profile" %}</h3>
            {% endif %}
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' form_group_class='form-group row' %}
            {% buttons %}
                <input type="submit"
                    name="action"
                    class="btn btn-primary pull-right"
                    value="{% trans 'Set password' %}"/>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
