.eggplants-bg {
    background-image: url('../../img/frontpage-background.jpg');
    background-size: cover;
}

.panel-opaque {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95);
}
