{% extends "eggplant/core/base.html" %}
{% load bootstrap3 %}
{% load membership_tags %}
{% block content %}

{% include "eggplant/payments/_payments_links.html" %}

<div class="row">
	<div class="col-sm-12 col-span-3">
	<h1 class="page-header">All fees:</h1>
	</div>
</div>

{% with user|is_active_account_owner as user_is_owner %}

{% for fee in fees %}
<div class="row">
  <div class="col-sm-2 text-left">{{fee.name}}</div>
  <div class="col-sm-2">{{fee.amount}}</div>
  <div class="col-md-2">
  		{% if user_is_owner %}
  			<a href="{% url 'eggplant:payments:create_order_for_fee' fee_id=fee.id %}"
  			role="button" 
  			class="btn btn-default btn-xs">pay</a>
  		{% else %}
  			&nbsp;
  		{% endif %}
  </div>
</div>
{% empty %}
	<div class="row">
		<div class="col-md-1 col-span-3">You don't have any</div>
	</div>
{% endfor %}
{% endwith %}
{% endblock%}