# Import from the settings env that this deployment uses.
from .dev import *  # @UnusedWildImport

# Put your own local overrides here, like:
# DATABASES = {'blah': 'blah blah'}
# SECRET_KEY = "skdlfjslkdfjlsgjklsdfjkgl"
