{% extends "base.html" %}

{% load account %}
{% load sekizai_tags %}

{% block head_title %}Log ud{% endblock %}

{% block content %}

  <div class="box">

    <h3>Glemt kodeord?</h3>

    <p>
      Har du glemt dit kodeord? Indtast din e-mail herunder, og vi sender dig en mail som giver dig mulighed for at sætte et nyt kodeord.
    </p>

    <form class="login form-horizontal" method="POST" action="{% url 'account_reset_password' %}">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" name="email" class="form-control"
               placeholder="Email"/>
        {{ form.email.errors }}
      </div>
      <button class="btn btn-success center-block" type="submit">Send mail</button>
    </form>
  </div>
{% endblock %}
