{% extends "base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}{% trans 'Change password' %}{% endblock %}

{% block content %}

  <div class="box">

    <h1>{% if token_fail %}{% trans 'Invalid link' %}{% else %}
      {% trans 'Change password' %}{% endif %}</h1>
    {% if token_fail %}
      <p>
      {% blocktrans %}
      The link is not valid.  This is likely because the link has already been
      visited.
      {% endblocktrans %}
      </p>
      <p>
      <a href="{% url 'account_reset_password' %}" class="btn btn-primary">
        {% trans 'Send a new link' %}</a>
      </p>
    {% else %}
      {% if form %}
        <div class="row">
          <div class="col-md-12">
            <form class="login form-horizontal" method="POST" action="">
              {% csrf_token %}

              <div class="input-group">
                <input type="password" name="password1" class="form-control"
                       placeholder="Kodeord"/>
                {{ form.password1.errors }}
              </div>

              <div class="input-group">
                <input type="password" name="password2" class="form-control"
                       placeholder="Kodeord (igen)"/>
                {{ form.password2.errors }}
              </div>

              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class="btn btn-success pull-right" type="submit">
                {% trans 'Change password' %}</button>
            </form>
          </div>
        </div>
      {% else %}
      <p>{% trans 'Your password has been changed.' %}</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
