{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% block head_title %}{% trans 'Forgotten your password?' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>{% trans 'Forgotten your password?' %}</h3>
        <p>
            {% blocktrans %}
            Have you forgotten your password? Enter your e-mail below and we
            will send you an e-mail which gives you a possibility to create a
            new password.
            {% endblocktrans %}
        </p>
        <form action="{% url 'account_reset_password' %}"
            class="form-horizontal"
            method="POST" >
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' form_group_class='form-group row' %}
            {% buttons %}
                <button type="submit"
                    class="btn btn-success center-block">
                    {% trans 'Send mail' %}
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
